﻿@model Diplom.Models.ViewModels.BiographyAndAuthor

@{
    ViewBag.Title = "CreateBiography";
}


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4 style="text-align:center">Biography</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Biography.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="DateOfBirth" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography.DateOfDeath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="DateOfDeath" value="0001-01-01" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Biography.PlaceOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="PlaceOfBirth" value="@Model.Biography.PlaceOfBirth" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography.Aliases, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Aliases" value="@Model.Biography.Aliases" class="form-control" required />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Biography.Language, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Language" value="@Model.Biography.Language" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography.Occupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Occupation" value="@Model.Biography.Occupation" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" required name="Text">@Model.Biography.Text</textarea>
            </div>
        </div>
        @if (Model.Biography.Author is null)
        {
            <div class="form-group">
                <label class="control-label col-md-2">Biography</label>
                <div class="col-md-10">
                    <select name="authorId" required class="form-control">
                        <option>Select Author</option>
                        @foreach (var item in Model.Authors)
                        {
                            <option value="@item.Id">@item.LastName @item.Name</option>
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.Biography.Author != null)
        {
            <input type="hidden" name="authorId" value="@Model.Biography.Author.Id" />
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <a href="/" class="btn btn-default">Close</a>
            </div>
        </div>
    </div>
}
