﻿@model Diplom.Models.ViewModels.BookAndCategory

@{
    ViewBag.Title = "CreateBook";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align:center">Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Book.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Name" value="@Model.Book.Name" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="Price" value="@Model.Book.Price" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" name="Description" style="height:150px" required>@Model.Book.Description</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Image" value="@Model.Book.Image" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.PubblishingHouse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="PubblishingHouse" value="@Model.Book.PubblishingHouse" class="form-control" required />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="Year" value="@Model.Book.Year" class="form-control" required />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Language, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Language" value="@Model.Book.Language" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Pages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="Pages" value="@Model.Book.Pages" class="form-control" required />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">PathFileText</label>
            <div class="col-md-10">
                <input type="text" name="Path" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Category</label>
            <div class="col-md-10">
                <select name="categoryId" required class="form-control">
                    <option>Select Category</option>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Author</label>
            <div class="col-md-10">
                <select name="authorId" required class="form-control">
                    <option>Select Author</option>
                    @foreach (var item in Model.Authors)
                    {
                        <option value="@item.Id">@item.LastName @item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <a href="/" class="btn btn-default">Close</a>

            </div>
        </div>
    </div>
}