﻿@model IEnumerable<Diplom.Models.ViewModels.Author>


<form style="display:flex; justify-content:center;margin:15px ">
    <input type="text" name="lastName" placeholder="Поиск" style="width: 250px; text-align:center" class="form-control" />
</form>

<table class="table" width="100%">
    <tr>
        <th>
            Фото
        </th>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        @if (Request.IsAuthenticated && User.IsInRole(Diplom.Models.RoleConfig.ADMIN))
        {
            <th>
                ADMIN
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Biography/Biography?authorId=@item.Id"><img src="@item.Img" alt="Alternate Text" width="50" /></a>
            </td>
            <td style="line-height:50px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="line-height:50px">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @if (Request.IsAuthenticated && User.IsInRole(Diplom.Models.RoleConfig.ADMIN))
            {
                <td>
                    <a href="/Admin/EditAuthor?id=@item.Id">Редактировать</a>
                    <a href="/Admin/DeleteAuthor?id=@item.Id">Удалить</a>
                    <a href="/Admin/CreateBiography?authorId=@item.Id">Биография</a>
                </td>
            }
        </tr>
    }
</table>
