﻿@model Diplom.Models.ViewModels.Book


<div class="card" style="margin-bottom:25px;">
    <div class="card-header" style="text-align:center">
        @Model.Name
    </div>
    <div class="card-body" style="display:flex;">
        <a href="../Book/Book?id=@Model.Id">
            <img src="@Model.Image" width="150" alt="@Model.Name" />
        </a>
        <p class="card-text" style="padding: 20px">@Model.Description</p>
    </div>
</div>