﻿@model Diplom.Models.ViewModels.Biography


@if (Request.IsAuthenticated && User.IsInRole(Diplom.Models.RoleConfig.ADMIN))
{
    <a href="~/Admin/EditBiography?id=@Model.Id" class="btn btn-outline-warning">Редактировать</a>
    <a href="~/Admin/DeleteBiography?id=@Model.Id" class="btn btn-outline-warning">Удалить</a>
}
<div style="text-align:center">
    <h4>@Model.Author.LastName @Model.Author.Name</h4>
    <div style="display:flex">
        <img src="@Model.Author.Img" width="300" alt="Alternate Text" />
        <div style="text-align:left">
            <div style="margin:10px"><b>Дата рождения</b> @Model.DateOfBirth.ToString("D")</div>
            @if (Model.DateOfDeath.Year != 9999)
            {
                <div style="margin:10px"><b>Дата смерти</b> @Model.DateOfDeath.ToString("D")</div>
            }
            <div style="margin:10px"><b>Мосто рождения</b> @Model.PlaceOfBirth</div>
            <div style="margin:10px"><b>Псевдоним</b> @Model.Aliases</div>
            <div style="margin:10px"><b>Язык</b> @Model.Language</div>
            <div style="margin:10px"><b>Профессия</b> @Model.Occupation</div>
        </div>
    </div>
    <div style="font-size:20px">@Model.Text</div>
</div>
