﻿@model Diplom.Models.ViewModels.Book

@if (Request.IsAuthenticated && User.IsInRole(Diplom.Models.RoleConfig.ADMIN))
{
    <a href="/Admin/EditBook?id=@Model.Id" class="btn btn-outline-warning">Редактировать</a>
    <a href="/Admin/DeleteBook?id=@Model.Id" class="btn btn-outline-warning">Удалить</a>
}
<div style="text-align:center">
    <h4>@Model.Author.LastName @Model.Name</h4>
    <div style="display:flex">
        <img src="@Model.Image" alt="Alternate Text" style="margin-right:25px" width="300" />
        <div style="text-align:left">
            <div style="margin:10px"><b>Цена</b> @Model.Price</div>
            <div style="margin:10px"><b>Издательство</b> @Model.PubblishingHouse</div>
            <div style="margin:10px"><b>Год</b> @Model.Year</div>
            <div style="margin:10px"><b>Язик</b> @Model.Language</div>
            <div style="margin:10px"><b>Страниц</b> @Model.Pages</div>
            <div style="margin:10px">
                <b>Биография автора</b>
                <a href="/Biography/Biography?id=@Model.Author.Id" style="text-decoration:dashed; font-weight:500; color:gray">@Model.Author.LastName @Model.Author.Name</a>
            </div>
            <div style="margin:10px">
                <b>Книги автора</b>
                <a href="/Home/?id=@Model.Author.Id" style="text-decoration:dashed; font-weight:500; color:gray">@Model.Author.LastName @Model.Author.Name</a>
            </div>
        </div>
    </div>
    <div style="margin-top:10px; font-size:20px; text-align:left">@Model.Description</div>
    <a class="btn btn-warning" href="/Book/Read?id=@Model.Id">Читать</a>
</div>
