﻿@model IEnumerable<Diplom.Models.ViewModels.Book>
    
<p>
    @Html.ActionLink("Create New", "../Admin/CreateBook")
</p>

<div style="display:flex; flex-wrap:wrap">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem; margin:5px">
            <img class="card-img-top" src="@item.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <a href="/Book/Book/@item.Id" class="btn btn-primary">Deteils</a>
            </div>
        </div>
    }
</div>
    

