﻿@model Diplom.Models.ViewModels.ReadBook

    <div style="text-align:center">
        <a href="/Book/Book/?id=@Model.BookId" style="font-size: 40px; text-decoration: dashed; font-weight: 500; color: black">@Model.BookName</a>

    </div>

<div style="font-size:20px; text-align:justify">
    @Model.Text
</div>
<div style="text-align:center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @for (int i = 1; i <= Model.Pages; i++)
        {
            <a class="btn btn-secondary active" href="?id=@Model.BookId&p=@i">@i</a>
        }
    </div>
</div>