﻿@model Diplom.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                Внешние службы проверки подлинности не настроены. В <a href="https://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                приведены сведения о настройке входа через внешние службы для этого приложения ASP.NET.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button id="@p.AuthenticationType" type="submit" name="provider" value="@p.AuthenticationType"  class="btn btn-default">
                            <span class="css-1vqao0l">
                                <span class="css-t5emrf">
                                    <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.168/static/media/google-logo.c21ca9d1.svg" alt="" style="height: 18px; margin-right: 8px; width: 18px;">
                                    <span>Войти с помощью Google</span>
                                </span>
                            </span>
                        </button>
                    }
                </p>
            </div>
        }
    }
}
