﻿@model Diplom.Models.ViewModels.BooksAndCategories

<div style="display: flex;margin-top:20px; margin:0 !important">
    <div style="margin-right:10px; width:500px !important;">
        <form >
            <input type="text" name="name" placeholder="Поиск по названию" class="form-control"/>
        </form>
        <a href="?sort=true" class="btn btn-secondary" style="width:100%; margin-bottom:20px;">Сортировка</a>
        <div class="list-group">
            <a href="/" style="text-align:center; padding:5px !important" class="list-group-item list-group-item-action active">Главная</a>

            @foreach (var item in Model.Categories)
            {
                <a href="?categoryId=@item.Id" style="text-align:center; padding: 0 !important" class="list-group-item list-group-item-action list-group-item-light">@item.Name</a>
            }
        </div>
    </div>
    <div>
        @foreach (var item in Model.Books)
        {
            @Html.Partial("../partial/_Book",item)
        }
    </div>
</div>