﻿@model IEnumerable<Diplom.Models.ViewModels.Category>

@{
    ViewBag.Title = "Categories";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Name, "../Book", new { categoryId = item.Id })    
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "../Admin/EditCategory", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "../Admin/DeleteCategory", new { id = item.Id })
                    </td>
                </tr>
        }
    </tbody>
</table>
